header {
    width: 100%;
    padding: 28px 8%;
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #fff; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

body {
    padding-top: 100px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    color: #1d1d1d;
    margin-right: 20px;
    font-style: normal;
}

#nav_list {
    font-size: 1.2em;
    display: flex;
    list-style: none;
    gap: 48px;
    margin-left: auto;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #aee1e6;
}

#mobile_btn {
    display: none;
    margin-left: auto;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

